.weather-app {
  border: 1px solid;
  padding: 20px;
  margin: 150px auto;
  max-width: 800px;
  border-radius: 20px;
}
#bg {
  position: fixed;
  top: 1em;
  left: 30%;
  right: 30%;
  bottom: 0;
  margin: 0 -440px;
  background-size: cover;
  z-index: -1;
  max-width: 1500px;
}
form {
  display: inline-block;
  grid-column: auto;
}
#city-input {
  line-height: 45px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: rgba(155, 199, 235, 0.842);
  color: #ffff;
  border-color: transparent;
}

#temperature {
  font-size: 50px;
  font-weight: 400;
}
#measure {
  font-size: 30px;
  font-weight: 300;
  color: #0b5ed7;
}
footer {
  color: rgba(71, 76, 82, 0.952);
  font-size: 18px;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
  line-height: 40px;
  max-width: 800px;
  margin: 150px auto;
}
